{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>DonateConnect</title>

    <!-- CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}?v=30000">



    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">

    <div class="nav-left">
        <a href="/" class="logo">DonateConnect ❤️</a>
    </div>

    <div class="nav-right">

        <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>

        <a href="/donations/" class="{% if '/donations' in request.path %}active{% endif %}">
            Donations
        </a>

        {% if user.is_authenticated %}
            <a href="/dashboard/">Dashboard</a>

<a href="/profile/" class="profile-link">
    <img src="{{ user.profile.image.url }}" class="nav-avatar">
</a>

            <a href="/logout/" class="logout">Logout</a>
        {% else %}
            <a href="/login/" class="{% if '/login' in request.path %}active{% endif %}">
                Login
            </a>

            <a href="/register/" class="register-btn {% if '/register' in request.path %}active{% endif %}">
                Register
            </a>
        {% endif %}

    </div>

</nav>


<!-- CONTENT -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>


<!-- JS -->
<script>

function closePopup() {
    document.getElementById("loginPopup").style.display = "none";
}

function showLogin() {
    document.getElementById("loginForm").style.display = "block";
    document.getElementById("registerForm").style.display = "none";
}

function showRegister() {
    document.getElementById("loginForm").style.display = "none";
    document.getElementById("registerForm").style.display = "block";
}

// SCROLL ANIMATION
const elements = document.querySelectorAll(".fade-in");

window.addEventListener("scroll", () => {
    elements.forEach(el => {
        const position = el.getBoundingClientRect().top;

        if (position < window.innerHeight - 100) {
            el.classList.add("show");
        }
    });
});

</script>


<!-- FOOTER -->
<footer class="footer">

    <div class="footer-container">

        <div>
            <h2>DonateConnect ❤️</h2>
            <p>Helping people donate clothes, books & essentials.</p>
        </div>

        <div>
            <h3>Quick Links</h3>
            <a href="/">Home</a>
            <a href="/donate/">Donate</a>
            <a href="/donations/">Donations</a>
        </div>

        <div>
            <h3>Support</h3>
            <a href="#">How it Works</a>
            <a href="#">Contact</a>
            <a href="#">Privacy Policy</a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 DonateConnect | Made with ❤️
    </div>

</footer>

</body>
</html>