{% extends 'ngo/base.html' %}

{% block content %}

<div class="form-box">

    <h2>Distribute Donation 🎁</h2>

    <p><b>{{ donation.name }}</b> - {{ donation.item_type }}</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="location" placeholder="Distribution Location" required>

        <textarea name="notes" placeholder="Notes (optional)"></textarea>

        <input type="file" name="image" accept="image/*">

        <button type="submit" class="btn">Mark as Distributed</button>
    </form>

</div>

{% endblock %}